body
{
}
jobHeader {
    float: left;
    width: 50%;
    padding: 20px;
    height: 500px; /* only for demonstration, should be removed */
    background: #ccc;
    border-radius: 0px 0px 0px 20px;
    background-color: lightcyan;
}
company {
    float: left;
    width: 50%;
    padding: 20px;
    height: 500px; /* only for demonstration, should be removed */
    background-color: #f1f1f1;
    border-radius: 0px 0px 20px 0px;
    background-color: lightcyan;
}
topSection::after {
    content: "";
    display: table;
    clear: both;

    width:450px;
}


titleSection {
    align-content: start;
    float: left;
    width: 100%;
    padding: 20px 180px 20px;
    display: table;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 20px;
    border: 1px solid #d7e2e9;
    border-radius: 8px 8px 8px 8px;
    border-left: 5px solid #236F21;
}

nameSection {
    text-align: center;
    align-content: start;

    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    display: table;
    border: 1px solid #d7e2e9;
    border-radius: 8px 8px 8px 8px;
    border-left: 5px solid #236F21;
    margin-bottom: 20px;
}



leftSection {
    text-align: center;
    align-content: start;
    float: left;
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    display: table;
    border: 1px solid #d7e2e9;
    border-radius: 8px 8px 8px 8px;
    border-left: 5px solid #808080;
    border-bottom: 5px solid #808080;
    margin-bottom: 20px;
}

leftSection2 {
    text-align: center;
    align-content: start;
    float: left;
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    display: table;
    border: 1px solid #d7e2e9;
    border-radius: 8px 8px 8px 8px;
    border-left: 5px solid #ff0000;
    border-bottom: 5px solid #ff0000;
    margin-bottom: 20px;
}

.AlignRight2 {
    position: absolute;
    right: 150px;
    width: 500px;
}



.cardTitle {
    background-color: lightgreen;
    width: 450px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    align-content: center;
}
.wholeProfile {
    width: auto;
    margin-right: 30%;
    margin-left: 30%;
    overflow: auto;
    height: 2000px;
}

.leftSide {
    width:auto;
    margin-right:50%;
    margin-left:10%;
    overflow: auto;
    height:3000px;
}

titleSection2 {
    align-content: start;
    float: left;
    width: 60%;
    padding: 20px 180px 20px;
    display: table;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 20px;
    border: 2px solid #d7e2e9;
    border-radius: 8px 8px 8px 8px;
    border-left: 5px solid #808080;
    border-bottom: 5px solid #808080;
}