

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    box-shadow: rgb(128 128 128) 3px 1px 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
}

    .login label {
        font-weight: 600;
    }

    .login input {
        margin-bottom: 10px;
    }

    .login button {
        width: 190px;
    }

    .login h1 {
        font-size: 30px;
    }

    .login p {
        font-size: 20px;
        color: red;
    }
