.Charts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.DonutChartShowRating {
    grid-column: 2 / 3;
    grid-row: 2;
}

.cardInfo {
    width: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-top: 100px;
}

    .cardInfo:hover {
        color: orange;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.19);
    }
