.Charts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.DonutChartShowRating {
    grid-column: 2 / 3;
    grid-row: 2;
}

.DonutChartShowRating2 {
    grid-column: 3 / 3;
    grid-row: 2;
}
