

.AddOppoPartnerApprovedTable {
    border-collapse: collapse;
    width: 79%;
    margin-right: 2%;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px 10px 0 0;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: left;
}

.AddOppoPartnerApprovedTable th,td{
    padding: 0.25em 0.5em 0.25em 1em;
    vertical-align: text-top;
    text-align: left;
    text-indent: -0.5em;
}

.AddOppoPartnerApprovedTable tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.AddOppoPartnerApprovedTable tr:hover {
    background-color: #edead5;
}

    .AddOppoPartnerApprovedTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #DAA520;
        color: white;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .AddOppoPartnerApprovedTable td {
        overflow: auto;
        text-align: left;
        align-content: start;
        list-style-position: inside;
        text-align-last: left;
        overflow: auto;
    }