body
{
}
/*color: #58a9a7;background-size: auto;float: left;
*/
card {
    background-color: red;
    padding: 30px;
    width: 79%;
    margin-right: 2%;
    margin-left: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    /*align-items: center;
    justify-content: space-between;*/
    display: flex;
    
}
card1 {
    background-color: red;
    padding: 30px;
    width: 79%;
    margin-right: 2%;
    margin-left: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    /*align-items: center;
    justify-content: space-between;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
jobId {

    font-size: 15px;
    margin-bottom: 7px;
    font-weight: 500;
    line-height: 1.4;
}
.job-title {
    margin-top: 0.6rem;

}

.company {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.badCard {
    background: #fff;
    border: 1px solid #d7e2e9;
    border-radius: 6px;
    padding: 24px 32px;
    margin-bottom: 16px;
    float: left;
    width: 100%;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction:column;
    height:140px;
}
    .badCard:hover {
        box-shadow: 8px 8px 5px lightblue;
    }
.sideCard1 {
    margin-top: 17.6px;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 1px;
    background-color: transparent;
    color: #393a5f;
    border: 2px solid #393a5f;
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    display: flex;
    width: 100px;
    float: right;
}
.sideCard {
    float:right;
}
.test {
    
    width: 1000px;
    margin-right: 2%;
    margin-left: auto;
    overflow: auto;
    
}