input[type="aUserID"],
input[type="aName"],
input[type="aRoleID"],
input[type="aPassword"],
input[type="aEmail"],
input[type="aAge"],
input[type="aGender"],
input[type="aUserBio"],
input[type="aContact"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.backButton {
    background-color: #4285F4;
  }