.EditOppo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.opportunitiesTable {
    display: flex;
    justify-content: center;
    align-items: left;
    padding-right: 1px;
    background-color: #DAA520;
}