.RegisterDiv {
}

.RegisterUserDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    box-shadow: rgb(128 128 128) 0px 0px 8px;
    padding-bottom: 20px;
    padding-top: 30px;
    border-radius: 8px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
}

    .RegisterUserDiv label {
        font-weight: 600;
        padding-top: 10px;
    }


    .RegisterUserDiv h1 {
        font-size: 30px;
    }

    .RegisterUserDiv button {
        margin-left: 120px;
        margin-top: 30px;
        border-radius: 25px;
        background: #2691d9;
        font-size: 18px;
        color: #e9f4fb;
        font-weight: 700;
        border: 1px solid;
    }
.RegisterUserDiv p {
    font-size: 16px;
    color: red;
}
