/*.RegisterUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    box-shadow: rgb(128 128 128) 3px 1px 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    margin-left: 550px;
    margin-top: 100px;
    padding-left: 100px;
}

.RegisterUser label {
    margin-right: 250px;
}

*/