input[type="adminInput"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.aPassword {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.adminErrorMsg {
    text-align: left;
    font-size: medium;
    color: #FF0000;
}

.submitButton {
    background-color: #4285F4;
}

.backButton {
    background-color: #4285F4;
  }