.User-Table {
    border-collapse: collapse;
    margin: auto;
    border-radius: 6px;
    font-size: 1em;
    max-width: 1500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.User-Table thead tr {
    background: #D1A62E;
    color: #ffffff;
    text-align: left;
}

.User-Table th,
.User-Table td {
    padding: 12px 15px;
}

.User-Table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.User-Table tbody tr:hover {
  background-color: #DBDBDB;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #D1A62E;
  }
  
  .btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .linkButton {
    background-color: #D1A62E;
  }

  .goButton {
    background-color: #4285F4;
  }

  .backButton {
    background-color: #4285F4;
  }
  
  .editButton {
    background-color: #000000;
  }
  
  .deleteButton {
    background-color: #FF6962;
  }